my_info.txt
Tutorial/13 Perl and Databases/querytest.pl
Tutorial/13 Perl and Databases/connect1.pl
Tutorial/13 Perl and Databases/create.pl
Tutorial/13 Perl and Databases/insert1.pl
Tutorial/13 Perl and Databases/insert2.pl